.inversao-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #dae1e76c; 
  padding: 20px;
  border-radius: 0 20px 20px 0;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: rgb(3, 3, 3);
  font-family: 'Montserrat', sans-serif;

  h1, h2 {
    margin: 0 0 20px;
    font-size: 20px;
    color: #333;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
    color: #555;
  }

  input, textarea {
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    background: none;
    border: 1px solid #ccc;
    color: #000;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
    margin-top: 10px;

    &:focus {
      outline: 0;
      border-color: #000;
    }
  }

  .back-btn {
    margin-top: 40px;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .result {
    background-color: #b1bdc450;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    width: 80%;
    max-width: 250px;
    text-align: center;

    p {
      font-size: 18px;
    }
  }
}
