<div class="faturamento-container">
    <h1>Resumo de Faturamento</h1>
    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th>Percentual</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let faturamento of faturamentos">
          <td>{{ faturamento.estado }}</td>
          <td>{{ faturamento.valor  }}</td>
          <td>{{ getPercentualPorEstado(faturamento.estado) | number:'1.2-2' }}%</td>
        </tr>
      </tbody>
    </table>

    <div class="back-btn">
      <a  href="/">Voltar</a>
    </div>
  </div>
  