<div class="faturamento-container">
    <h1>Resumo de Faturamento</h1>
    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Menor valor de faturamento</td>
          <td>{{ menorValor  }}</td>
        </tr>
        <tr>
          <td>Maior valor de faturamento</td>
          <td>{{ maiorValor }}</td>
        </tr>
        <tr>
          <td>Dias com faturamento acima da média mensal</td>
          <td>{{ diasAcimaDaMedia }}</td>
        </tr>
      </tbody>
    </table>
  </div>
