body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.logo-container-main-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

.logo-background {
  background: linear-gradient(to left, #dae1e7, #fcbebe8e);
  padding: 20px;
  border-radius: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-background-container {
  text-align: center;
  padding: 100px;
}

.logo-img {
  width: 20%;
  margin-bottom: 20px;
}
