.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://www.example.com/path/to/your/background-image.jpg'); /* imagem de fundo */
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .challenge-btn {
    text-decoration: none;
    padding: 15px 25px;
    font-size: 1.1rem;
    background-color: #b11116; /* verde bonito */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    &:hover {
      background-color: #640a0d;; /* tom mais escuro de verde */
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
    
    &:focus {
      outline: none;
    }
  }
}
